* {
    border: unset;
    margin: 0;
}

html,
body {
    margin: auto;
    padding: 10px;
    background-color: peachpuff;
    color: white;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #faa307;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-score,
.grid,
.container-btn {
    margin-top: 25px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    height: 220px;
    border: solid 3px #264653;
    background-color: #2a9d8f;
    border-radius: 5px;
}

.square {
    width: 20px;
    height: 20px;
    border: solid 1px #264653;
    border-radius: 3px;
}

.snake {
    background-color: #e9c46a;
}

.apple {
    text-align: center;
}

button {
    padding: 10px 15px;
    background-color: #e85d04;
    color: white;
    box-shadow: 0 2px #dc2f02;
    border-radius: 3px;
}

button:hover,
button:focus {
    background-color: #dc2f02;
    box-shadow: 0 2px #e85d04;
}